#main-1 {
    width:1000px;
    border: solid 2px rebeccapurple;
    margin-top: 50px;
    height: 1000px;
}
#top_banner {
    height: 200px;
    border-bottom: solid 2px #000000;
}
#content {
    float: right;
    width: 800px;
    height: 500;
}
#side_banner {
    float: left;
    width: 200px;
    height: 500px;
    border-left: solid 2px rebeccapurple;
}
.loading {
    color: paleturquoise;
}